@*@model List<Dto.Menu.Item>
@foreach (var item in Model)
{
    <li @Html.Raw(item.Children.Count > 0 ? "class=\"admin-parent\"" : "")>
        <a data-am-collapse="{target: '#@item.Name'}" class="am-cf"  @Html.Raw(string.IsNullOrEmpty(item.Link) ? "" : "href=\"" + item.Link + "\"")><span class="@item.ClassName"></span> @item.Name
        @if (item.Children.Count > 0)
        {
            <span class="am-icon-angle-right am-fr am-margin-right"></span>
        }
        </a>
        @if (item.Children.Count > 0)
        {
            <ul class="am-list am-collapse admin-sidebar-sub am-in" id="@item.Name">
                @Html.Partial("/Views/Menu/PartialMenu.cshtml", item.Children)
            </ul>
        }
    </li>
}*@ 

<ul class="am-list admin-sidebar-list">
    @*<li><a href="admin-index.html"><span class="am-icon-home"></span> 首页</a></li>
    <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 页面模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 个人资料<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 帮助页</a></li>
            <li><a href="admin-gallery.html"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
            <li><a href="admin-log.html"><span class="am-icon-calendar"></span> 系统日志</a></li>
            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 404</a></li>
        </ul>·
    </li>*@
    <li><a href="/ScratchCard/Index"><span class="am-icon-table"></span> 刮刮奖</a></li>
</ul>