@*@model List<Dto.Menu.Item>
@foreach (var item in Model)
{
    <li @Html.Raw(item.Children.Count > 0 ? "class=\"admin-parent\"" : "")>
        <a data-am-collapse="{target: '#@item.Name'}" class="am-cf"  @Html.Raw(string.IsNullOrEmpty(item.Link) ? "" : "href=\"" + item.Link + "\"")><span class="@item.ClassName"></span> @item.Name
        @if (item.Children.Count > 0)
        {
            <span class="am-icon-angle-right am-fr am-margin-right"></span>
        }
        </a>
        @if (item.Children.Count > 0)
        {
            <ul class="am-list am-collapse admin-sidebar-sub am-in" id="@item.Name">
                @Html.Partial("/Views/Menu/PartialMenu.cshtml", item.Children)
            </ul>
        }
    </li>
}*@